.container {
	max-width: 128rem;
	width: 100%;
	margin: auto;
	padding-left: 2rem;
	padding-right: 2rem;

	@include breakpoint(md, max) {
		padding-left: 1.6rem;
		padding-right: 1.6rem;
	}
}

.row {
	display: flex;
	flex-wrap: wrap;
	@include set-gutter(2rem);

	.col-3 {
		width: 25%;
	}

	.col-4 {
		width: 33.33333333%;
	}

	.col-8 {
		width: 66.66666667%;
	}

	.col-6 {
		width: 50%;
	}

	.col-12 {
		width: 100%;
	}
}

.sr-only {
	position: absolute !important;
	width: 1px !important;
	height: 1px !important;
	padding: 0 !important;
	margin: -1px !important;
	overflow: hidden !important;
	clip: rect(0, 0, 0, 0) !important;
	white-space: nowrap !important;
	border: 0 !important;
}

.h2 {
	margin-bottom: 0;
	font-size: 3.7rem;
	line-height: 1.21;
	color: inherit;

	@include breakpoint(md, max) {
		font-size: 3.1rem;
	}
}
